<form [formGroup]="signupForm" (ngSubmit)="registerUser()">
  <h3 class="">Please sign up</h3>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter name" value=" " formControlName="name" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter email" value=" " formControlName="email" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" value=" " formControlName="password" required>
  </mat-form-field>
  <button mat-stroked-button color="primary" type="submit">Sign up</button>
</form>
